<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css"
    />
  </head>

  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">What's the weather like?</h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-3 is-6">
            <form method="POST">  
              {% csrf_token %}  
              {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="notification is-danger">    
                            {{error}}
                        </div>
                    {% endfor %}
                {% endfor %}
              {% endif %}
              <div class="field has-addons">
                <div class="control is-expanded">
                    <!-- <input class='input' type='text' placeholder='City Name'/> -->
                    {{ form.name }}
                </div>
                <div class="control">
                  <button type="submit" class="button is-info">Add City</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-3 is-6">
            {% for city_weather in weather_data %}  
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-50x50">
                    <img
                      src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png"
                      alt="Image"
                    />
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <span class="title">{{ city_weather.city }}</span> <br />
                      <span class="subtitle">{{ city_weather.temperature }} C</span>
                      <br />
                      {{ city_weather.DESCRIPTION }}
                    </p>
                  </div>
                </div>
              </article>
            </div>
            {% endfor %}
          </div>
        </div>

        <nav class="pagination" role="navigation" aria-label="pagination">
          <a {% if cities.has_previous %} href="?page={{ cities.previous_page_number }}" {% endif %} class="pagination-previous" title="This is the first page" {% if not cities.has_previous %}disabled{% endif %}>Previous</a>
          <a class="pagination-next" {% if cities.has_next %} href="?page={{ cities.next_page_number }}" {% endif %} {% if not cities.has_next %}disabled{% endif %}>Next page</a>
          <ul class="pagination-list">
            {% for page in pages %}
                <a href="?page={{ page }}" class="pagination-link {% if cities.number == page %} is-current {% endif %} ">{{  page  }}</a>
            {% endfor %}
          </ul>
        </nav>

      </div>
    </section>
    <footer class="footer">
    </footer>
  </body>
</html>
